.project-section {
  position: relative !important;
  padding-top: 150px !important;
  padding-bottom: 30px !important;
  background-image: var(--section-background-color) !important;
}

.project-card {
  padding-top: 40px !important;
  padding-bottom: 50px !important;
  padding-left: 25px !important;
  padding-right: 25px !important;
  height: auto !important;
}

.project-card-view {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0px 0px 3px 4px var(--secondary-color) !important;  
  color: var(--off-white) !important;
  background-color: rgb(35, 35, 35, 0.5) !important;
  opacity: 0.85 !important;
  transition: all 0.5s ease 0s !important;
  height: 100% !important;
  align-items: center !important;
}

.project-card-img-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 275px;
  width: 100%;
  padding-top: 10px;
}

.project-card-view:hover {
  transform: scale(1.05) !important;
  overflow: hidden !important;
  box-shadow: 0px 0px 5px 6px var(--secondary-color) !important;
}

.project-card-view-in-progress {
  box-shadow: 0px 0px 3px 4px rgb(255, 126, 40, 0.5) !important;  
}

.project-card-view-in-progress:hover {
  box-shadow: 0px 0px 5px 6px rgb(255, 126, 40, 0.5) !important;
}

.card-img-top {
  opacity: 1.0 !important;
  border-radius: 3px !important;
}

.btn-primary {
  color: var(--off-white) !important;
  background-color: var(--highlight-color) !important;
  border-color: var(--secondary-color) !important;
  border-width: 2px !important;
  border-radius: 5px !important;
  width: 110px;
  align-items: center !important;
  justify-content: center !important;
  display: flex !important;
}

.btn-primary:hover {
  color: var(--off-white) !important;
  background-color: var(--secondary-color) !important;
  border-color: var(--highlight-color) !important;
  border-width: 2px !important;
  border-radius: 5px !important;
}

.project-heading {
  color: var(--off-white) !important;
  font-size: 2.3em !important;
  font-weight: 500 !important;
  padding-top: 10px !important;
}

/* Adjust padding for smaller screens */
@media screen and (max-width: 768px) {
  .project-card-view {
    padding-bottom: 20px !important;
  }

  .project-card-body {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .project-card-body .btn-primary {
    margin-bottom: 10px;
  }

  .project-card-body .btn-primary + .btn-primary {
    margin-left: 0;
  }
}