:root {
  --black-value: 28;
  --white-value: 225;
  --dark-background-value: 30;
  --light-background-value: 35;
  --highlight-color: #4C9EA6;
  --secondary-color: #3F8388;
  --off-white: rgb(var(--white-value), var(--white-value), var(--white-value));
  --light-background-colour: rgb(var(--light-background-value), var(--light-background-value), var(--light-background-value));
  --dark-background-colour: rgb(var(--dark-background-value), var(--dark-background-value), var(--dark-background-value));
  --custom-black: rgb(var(--black-value), var(--black-value), var(--black-value));
  --section-background-color: linear-gradient(to bottom right, var(--light-background-colour), var(--dark-background-colour));
  --warning_orange: rgb(255, 126, 40);

}

html {
  --section-background-color: linear-gradient(to bottom right, var(--light-background-colour), var(--dark-background-colour));
  --image-gradient: linear-gradient(to right,
      rgba(26, 26, 26, 0.55),
      rgba(26, 26, 26, 0.55));
}


button:focus {
  box-shadow: none !important;
}

/* --------- */
/*  Preloader */
/* --------- */
#preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999999;
  background-color: var(--dark-background-colour);
  background-image: url(./Assets/pre.svg);
  background-repeat: no-repeat;
  background-position: center;
}

#preloader-none {
  opacity: 0;
}

#no-scroll {
  overflow: hidden;
  height: 100vh;
}

/* --------- */
/*Scrollbar   */
/* --------- */

::-webkit-scrollbar {
  width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #ada0a0;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(13, 0, 85, 0.959);
  border-radius: 12px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgba(177, 150, 150, 0.911);
  border-radius: 12px;
}

/* --------- */
/* Navbar Section  */
/* --------- */
.sticky {
  background-color: var(--dark-background-colour) !important;
  transition: all 0.3s ease-out 0s !important;
  backdrop-filter: blur(15px) !important;
}

.navbar {
  position: fixed !important;
  background-color: var(--custom-black) !important;
  transition: all 0.3s ease-out 0s !important;
  padding: 0.3rem 2rem !important;
  font-size: 1.2rem !important;
}

.navbar-toggler {
  position: relative !important;
  background-color: transparent !important;
  border-color: transparent !important;
}

.navbar-toggler span {
  display: block !important;
  background-color: var(--highlight-color) !important;
  height: 4px !important;
  width: 27px !important;
  margin-top: 5px !important;
  margin-bottom: 5px !important;
  transform: rotate(0deg) !important;
  left: 0 !important;
  opacity: 1 !important;
}

.navbar-toggler:focus,
.navbar-toggler:active {
  outline: 0 !important;
}

.navbar-toggler span:nth-child(1),
.navbar-toggler span:nth-child(3) {
  transition: transform 0.35s ease-in-out !important;
  transition: transform 0.35s ease-in-out !important;
}

.navbar-toggler:not(.collapsed) span:nth-child(1) {
  position: absolute !important;
  left: 12px !important;
  top: 10px !important;
  transform: rotate(135deg) !important;
  opacity: 0.9 !important;
}

.navbar-toggler:not(.collapsed) span:nth-child(2) {
  height: 12px !important;
  visibility: hidden !important;
  background-color: transparent !important;
}

.navbar-toggler:not(.collapsed) span:nth-child(3) {
  position: absolute !important;
  left: 12px !important;
  top: 10px !important;
  transform: rotate(-135deg) !important;
  opacity: 0.9 !important;
}

@media screen and (max-width: 768px) {
  .navbar {
    padding: 1rem 2rem !important;
    font-size: 1.4rem !important;
    background-color: var(--custom-black) !important;
  }

  .navbar-nav .nav-item a::after {
    display: none !important;
  }

}

.navbar-brand {
  color: rgb(250, 250, 250) !important;
}

.logo {
  height: 1.2em !important;
  width: 2.4em !important;
}

.navbar-nav .nav-link {
  color: white !important;
  padding-right: 1rem !important;
  padding-left: 1rem !important;
}

.nav-link {
  padding: 0.8rem 1rem !important;
}

@media screen and (max-width: 768px) {
  .nav-link {
    padding: 0.7rem 1rem !important;
  }
}

.navbar-nav .nav-item {
  position: relative;
  margin-left: 20px;
}

.navbar-nav .nav-item a {
  font-weight: 400;
  transition: all 0.3s ease-out 0s;
  position: relative;
  z-index: 1;
}

.navbar-nav .nav-item a::after {
  content: "";
  position: relative;
  display: block;
  height: 5px;
  width: 0;
  border-radius: 16px;
  background: var(--highlight-color);
  bottom: 1px;
  left: 0;
  z-index: -1;
  transition: all 0.3s ease-out 0s;
}

.navbar-nav .nav-item a:hover::after {
  width: 100%;
}

/* --------- */
/* Home section */
/* --------- */

/* #tsparticles {
  position: fixed !important;
  background-color: var(--background-colour); 
  background-repeat: no-repeat !important;
  background-size: cover !important;
  width: 100%;
  height: 100%;
} */

.home-header {
  padding-top: 80px !important;
}



.home-section {
  position: relative;
  z-index: -1;
  background-image: var(--image-gradient), url(./Assets/home_page_bg.jpg);
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 20px !important;
  padding-bottom: 30px !important;
}

.home-content {
  padding: 9rem 0 2rem !important;
  color: whitesmoke;
  text-align: left;
  margin: 0 5vw;
}

.heading {
  font-size: 2.4em !important;
  padding-left: 50px !important;
}

.heading-name {
  font-size: 2.5em !important;
  padding-left: 45px;
}

.home-subtitle {
  padding-top: 20px !important;
  padding-left: 50px !important;
  text-align: left !important;
  color: var(--secondary-color) !important;
}

.home-img-div {
  padding-bottom: 2vh !important;
}

@media screen and (max-width: 768px) {
  .heading-name {
    padding-left: 0px !important;
    text-align: center !important;
  }

  .home-header {
    padding-top: 0px !important;
  }

  .home-subtitle {
    padding-left: 0px !important;
    padding-top: 10px !important;
    text-align: center !important;
  }

  .main-profile-img {
    margin-left: 0vw !important;
  }

  .home-img-div {
    padding-top: 2vh !important;
    text-align: center !important;
  }

}

.main-name {
  color: var(--highlight-color) !important;
}



.home-about-section {
  position: relative;
  padding-bottom: 70px !important;
}

.home-about-description {
  color: var(--off-white) !important;
  padding-top: 50px !important;
  padding-bottom: 20px !important;
  text-align: center;
}

.home-about-body {
  padding-top: 20px;
  font-size: 1.2em !important;
  text-align: center;
}

.home-about-social {
  text-align: center !important;
  padding-top: 25px;
  color: var(--off-white) !important;
}

.home-about-social-links {
  justify-content: center !important;
  padding-top: 15px !important;
  display: inline-block !important;
  position: relative !important;
  padding-inline-start: 0 !important;
}

.home-social-icons {
  position: relative !important;
  display: inline-block !important;
  width: 40px !important;
  height: 40px !important;
  text-align: center !important;
  font-size: 1.2em !important;
  line-height: 2em !important;
  background: var(--off-white) !important;
  border-radius: 50% !important;
  transition: 0.2s !important;
}

.home-social-icons::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: var(--secondary-color);
  transition: 0.2s;
  transform: scale(0.9);
  z-index: -1;
}

.home-social-icons:hover::before {
  transform: scale(1.1);
  box-shadow: 0 0 5px var(--highlight-color);
}

.home-social-icons:hover {
  color: var(--secondary-color) !important;
  box-shadow: 0 0 5px var(--highlight-color) !important;
}

.social-icons {
  display: inline-block !important;
  padding-right: 15px;
  padding-left: 15px;
}

.icon-colour {
  color: var(--highlight-color) !important;
}


/* --------- */
/* Footer */
/* --------- */
.footer {
  background-color: var(--custom-black) !important;
  bottom: 0 !important;
  padding-top: 10px !important;
  padding-bottom: 8px !important;
}

.footer-copywright {
  text-align: center !important;
}

.footer-body {
  z-index: 1;
  text-align: center !important;
  font-size: 1.35em !important;
}

@media screen and (max-width: 768px) {
  .footer-copywright {
    text-align: center !important;
  }

  .footer-body {
    text-align: center !important;
  }
}

.footer h3 {
  font-size: 1em;
  color: white !important;
  margin-top: 0.5em !important;
  margin-bottom: 0.5em !important;
}

.footer-icons {
  margin-top: 0.0em !important;
  margin-bottom: 0.5em !important;
  padding: 0 !important;
}

.blockquote-footer {
  color: #a588c0 !important;
}



/* --------- */
/* About */
/* --------- */

.about-section {
  position: relative !important;
  padding-top: 150px !important;
  padding-bottom: 30px !important;
  background-image: var(--section-background-color) !important;
}

.tech-icons {
  font-size: 4.5em !important;
  /* margin: 15px !important; */
  /* padding: 10px !important; */
  align-items: center !important;
  justify-content: center !important;
  display: flex !important;
  align-self: center !important;
  align-content: center !important;
  opacity: 0.93 !important;
  vertical-align: middle !important;
  text-align: center !important;
  border-radius: 5px !important;
  display: table !important;
  overflow: hidden !important;
  transition: all 0.4s ease 0s !important;
}

@media screen and (max-width: 768px) {
  .tech-icons {
    font-size: 13vw !important;
  }
  
}

.quote-card-view {
  border: none !important;
  color: var(--off-white) !important;
  background-color: transparent !important;
  text-align: "center" !important;
}

.about-activity {
  list-style: none !important;
  text-align: left !important;
  padding-left: 1px !important;
}

.about-paragraph {
  text-align: justify !important;
}

@media screen and (max-width: 768px) {
  .about-activity {
    padding-left: 0px !important;
    text-align: center !important;
  }

  .quote-card-view {
    text-align: center !important;
  }

  .about-paragraph {
    text-align: center !important;
  }
  
}

.about-text-photo-row {
  display: flex !important;
  justify-content: space-between !important;
  align-items: center !important;
  padding-bottom: 4vh !important;
}

.about-img {
  position: relative;
  border-radius: 10px;
  max-height: 550px;
}


@media screen and (max-width: 1000px) {
    .about-text-photo-row {
      flex-direction: column-reverse !important;
    }

    .about-section-img-div {
      padding-bottom: 40px !important;
    }
}

/* --------- */
/* Resume */
/* --------- */

.resume-section {
  position: relative !important;
  padding-top: 110px !important;
  padding-bottom: 30px !important;
  background-image: var(--section-background-color) !important;
  color: white !important;
}

.resume {
  padding-top: 50px;
  padding-bottom: 50px;
  justify-content: center;
}

.resume-left {
  padding-right: 80px !important;
}

.resume-right {
  padding-left: 80px !important;
}

@media screen and (max-width: 768px) {
  .resume-left {
    padding-right: 15px !important;
    padding-left: 15px !important;
  }

  .resume-right {
    padding-right: 15px !important;
    padding-left: 15px !important;
  }
}

.resume .resume-title {
  font-size: 2em;
  font-weight: 700;
  padding-top: 30px;
  padding-bottom: 30px;
}

.resume .resume-item {
  padding: 0 0 10px 25px;
  margin-top: -2px;
  border-left: 2px solid #8a49a8;
  position: relative;
}

.resume .resume-item .resume-title {
  line-height: 18px;
  font-size: 0.9em;
  background: #5234795d;
  padding: 8px 15px;
  display: inline-block;
  font-weight: 600;
  margin-bottom: 10px;
}

.resume .resume-item ul {
  padding-left: 20px;
  text-align: justify;
}

.resume .resume-item ul li {
  padding-bottom: 10px;
  list-style: none;
}

.resume .resume-item:last-child {
  padding-bottom: 0;
}

.resume .resume-item::before {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  border-radius: 50px;
  left: -9px;
  top: 0;
  background: #fff;
  border: 2px solid #8a49a8;
}

.animate-like {
  animation-name: likeAnimation;
  animation-fill-mode: forwards;
  animation-duration: 0.85s;
}

@keyframes likeAnimation {
  0% {
    transform: scale(1.5);
  }

  100% {
    transform: scale(1);
  }
}

.fork-btn {
  font-size: 1.1em !important;
  padding-top: 10px !important;
}

.fork-btn-inner {
  line-height: 1.4em !important;
  background-color: var(--secondary-color) !important;
  border-color: var(--secondary-color) !important;
  padding: 0.25rem 1.1rem !important;
  vertical-align: middle !important;
  text-align: center !important;
}

.fork-btn-inner:hover {
  transform: translateY(-2px) !important;
  background-color: var(--highlight-color) !important;
  border-color: var(--highlight-color) !important;
}

.fork-btn-inner::after {
  display: none !important;
}

.main-profile-img {
  transform: perspective(1000px) rotateY(-8deg);
  transition: transform 0.5s;
  position: relative;
  border-radius: 15px;
  box-shadow: 15px 15px 40px rgb(0, 0, 0, 0.9);
  margin-left: 5vw;
}



.tool-icons a {
  color: var(--off-white);
  /* Set the color to white */
  font-size: 3.5em;
  /*  Set the font size */
}

.tool-icons a:hover {
  color: var(--off-white);
}

.tool-icons {
  transition: transform 0.3s ease, color 0.3s ease;
  /* Smooth transition for transform and color */
}

.tool-icons:hover {
  transform: scale(1.1);
  /* Scale the icons to 1.1 */
}